:root {

  --background: #fcfcfc;
  --card-background: #f4f3f2;
  --border: #e4e2e0;
  --text-dark: #1a1a1a;
  --text-light: #909090;

  --primary-dark: #5a4fcf;
  --primary: #fdebed;
  --primary-light: #9b8cff;

}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  margin: 0;
  color: var(--text-dark);
  background-color: var(--background);
}

h1 {
  font-family: 'Geist Bold', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Geist SemiBold', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Geist Medium', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

h4 {
  font-family: 'Geist Regular', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-top: 0;
}

p {
  font-size: 1rem;
  font-family: 'Geist Light', Arial, Helvetica, sans-serif;
}

btn,
a,
label,
li {
  font-size: 1rem;
  font-family: 'Geist ExtraLight', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width:769px) {
  h1 {
    font-size: 3rem;
  }

  btn {
    font-size: 1.2rem;
  }
}