@font-face {
  font-family: 'Geist Regular';
  src: url('../fonts/Geist-Regular.woff2') format('woff2'),
    url('../fonts/Geist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Medium';
  src: url('../fonts/Geist-Medium.woff2') format('woff2'),
    url('../fonts/Geist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist SemiBold';
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2'),
    url('../fonts/Geist-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Bold';
  src: url('../fonts/Geist-Bold.woff2') format('woff2'),
    url('../fonts/Geist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Light';
  src: url('../fonts/Geist-Light.woff2') format('woff2'),
    url('../fonts/Geist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist ExtraLight';
  src: url('../fonts/Geist-ExtraLight.woff2') format('woff2'),
    url('../fonts/Geist-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}